{% extends 'base.html' %}
{% block body %}
    <div class="container_form">
        {% if messages %}
            {% for message in messages %}
                <div class="message_container {{message.tags}}">
                    <p  class="message_text">{{message}}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="form_box">
            <h1 class="form_title">Alterar senha</h1>
            <form action="{% url 'account:password' %}" method="POST" class="form_accounts">
                {% csrf_token %}
                {% if account %}
                    <input type="hidden" name="id" value="{{account.id}}">
                    <input type="hidden" name="token" value="{{token}}">
                {% endif %}
                <div>
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div>
                    <label for="passwordConfirm">Confimar senha:</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm">
                </div>
                <input type="submit" value="Salvar" class="form_submit">
            </form>
        </div>
    </div>
{% endblock %}